<h1 class="page-header">Welcome User</h1>

<div>
	<p>As of today,</p>
	<strong>
		<div class="row datedate" id="dashboarddate"></div>
	</strong>
</div>

<div class="row">
	<a href="/warehouse/requisition"><button class="btn btn-primary dashboard">New Requisition Forms</button></a>
</div>

<div class="row">
	<strong>
		<p> To do: </p>
</div>

<div class="row">
	<a href="/warehouse/inventory"><button class="btn btn-primary dashboard">View Inventory</button></a>
</div>

<div class="row">
	<a href="/warehouse/po"><button class="btn btn-primary dashboard">View Purchase Orders</button></a>
</div>