
<h1 class="page-header">Welcome User</h1>

<div>
<p>As of today,</p>
<strong><div class="row datedate" id="dashboarddate"></div></strong>
</div>
 

<div class="row">
	<a  href="#"><button class="btn btn-primary dashboard">Delivered from Warehouse</button></a>
	<a  href="/engineer/po"><button class="btn btn-primary dashboard">Pending Purchase Orders</button></a>
</div>

<div class="row">
	<strong><p> To do: </p>
</div>


<div class="row">
	<a  href="#"><button class="btn btn-primary dashboard">Generate Reports</button></a>	
</div>


<div class="row">
<a  href="/engineer/projects"><button class="btn btn-primary dashboard">View Projects</button></a>
</div>
