<h1 class="page-header">{{pageHeader}}</h1>

<div class="row filter materialsrow textright">

  <p>Year:</p>
  <select class="materialsbutton" id="selectElementId"></select>
  <div class="dropdown">
    <button onclick="#" class="dropbtn">Filter</button>
    <!-- Filter based on quarter and year-->

  </div>

  <div class="fixed ">
    {{> table tableColumns=columns tableData=data active=active}}
  </div>

</div>

</div>

<script>
  var min = 1990,
    max = 2095,
    select = document.getElementById('selectElementId');

  for (var i = min; i <= max; i++) {
    var opt = document.createElement('option');
    opt.value = i;
    opt.innerHTML = i;
    select.appendChild(opt);
    select.value = new Date().getFullYear();
  }
</script>

<script>
  function filter() {
    document.getElementById("myDropdown").classList.toggle("show");
  }

  function filterFunction() {
    var input, filter, ul, li, a, i;
    input = document.getElementById("myInput");
    filter = input.value.toUpperCase();
    div = document.getElementById("myDropdown");
    a = div.getElementsByTagName("a");
    for (i = 0; i < a.length; i++) {
      txtValue = a[i].textContent || a[i].innerText;
      if (txtValue.toUpperCase().indexOf(filter) > -1) {
        a[i].style.display = "";
      } else {
        a[i].style.display = "none";
      }
    }
  }
</script>