<div class='row margin-top'>
    <div class="col-sm-9 col-md-3">
      <a class="return" href="/management/purchase_reports">Return to PO Reports</a>
    </div>
    <div class="col-sm-9 col-md-3">
      <a class="return" href="#">Print</a>
    </div>
    <div class="col-sm-9 col-md-3">
      <a class="return" href="#">Export</a>
    </div>
  </div>

  <div class='row center'><h2>Division Mi Casa Su Casa</h2><h3 class='no-top-margin'>Project Unit Summary</h3><p>March 3, 2019 to March 12, 2019</p></div>


  <div class="overflow-x left">
    {{> table tableColumns=columns tableData=data active=active}}
  </div>


</div>


<!-- Filter-->

</div>


<script>
 $('#postViewProjectsForm').submit(function(e) {
    e.preventDefault();
    // Coding
    $('#ExampleModalCenter').modal('hide');
    return false;
});
</script>


<script>
  var min = 1990,
    max = 2095,
    select = document.getElementById('selectElementId');

  for (var i = min; i <= max; i++) {
    var opt = document.createElement('option');
    opt.value = i;
    opt.innerHTML = i;
    select.appendChild(opt);
    select.value = new Date().getFullYear();
  }
</script>

<script>
  function filter() {
    document.getElementById("myDropdown").classList.toggle("show");
  }

  function filterFunction() {
    var input, filter, ul, li, a, i;
    input = document.getElementById("myInput");
    filter = input.value.toUpperCase();
    div = document.getElementById("myDropdown");
    a = div.getElementsByTagName("a");
    for (i = 0; i < a.length; i++) {
      txtValue = a[i].textContent || a[i].innerText;
      if (txtValue.toUpperCase().indexOf(filter) > -1) {
        a[i].style.display = "";
      } else {
        a[i].style.display = "none";
      }
    }
  }
</script>
