<h1 class="page-header">Welcome to the Management Dashboard</h1>

<div>
	<p>As of today,</p>
	<strong>
		<div class="row datedate" id="dashboarddate"></div>
	</strong>
</div>


<div class="row">
	<a href="/management/po"><button class="btn btn-primary dashboard">Purchase Orders</button></a>
</div>

<div class="row">
	<strong>
		<p> To do: </p>
</div>


<div class="row">
	<a href="/management/projects"><button class="btn btn-primary dashboard">View Projects</button></a>
	<a class="dashboardright" href="/management/materials/new"><button class="btn btn-primary dashboard">Create
			Material</button></a>
</div>


<div class="row">
	<a href="/management/templates/new"><button class="btn btn-primary dashboard">Create Template</button></a>
	<a class="dashboardright" href="/management/project_reports"><button class="btn btn-primary dashboard">Generate Reports</button></a>
</div>