<h1 class="page-header">{{pageHeader}}</h1>
<div class="row">
  <ul class="nav nav-tabs proj">
    <li ><a href="/management/project_reports">Projects</a></li>
    <li class="active"><a href="#">Purchase Orders</a></li>

</ul>
</div>
<div class="row proj">
  <h3>View Purchase Report Summary By:</h3>
</div>

<div class="row proj">
  <h3>Select Filters:
</div>
<div class="row proj margin-top">
  <div class="col-sm-9 col-md-3">
    <select id="project">
      {{#each projects}}
        <option value={{this.id}}>{{this.projectName}}</option>
      {{/each}}
    </select>
  </div>
  <div class="col-sm-9 col-md-3">
      <label for="startDate">Starting</label>
      <input type="date" id="startDate" name="startDate">
  </div>
  <div class="col-sm-9 col-md-3">
      <label for="endDate">Ending</label>
      <input type="date" id="endDate" name="endDate">
  </div>

</div>

<div class="projectfooter">
   <a href="#"><button type="button" class="reports btn btn-transparent" >Back</button></a>
   <button type="button" onclick="generateReport()" class="reports btn btn-save" >Generate Report</button>
</div>

</div>


<!-- Filter-->

</div>

<script>
  function generateReport(){
    var params = {
      projectId: document.getElementById('project').value,
      startDate: document.getElementById('startDate').value,
      endDate: document.getElementById('endDate').value
    }
    var esc = encodeURIComponent;
    var query = Object.keys(params)
      .map(k => esc(k) + '=' + esc(params[k]))
      .join('&');
    window.location.replace('/management/po/report?'+query);
  }
</script>


<script>
 $('#postViewProjectsForm').submit(function(e) {
    e.preventDefault();
    // Coding
    $('#ExampleModalCenter').modal('hide');
    return false;
});
</script>


<script>
  var min = 1990,
    max = 2095,
    select = document.getElementById('selectElementId');

  for (var i = min; i <= max; i++) {
    var opt = document.createElement('option');
    opt.value = i;
    opt.innerHTML = i;
    select.appendChild(opt);
    select.value = new Date().getFullYear();
  }
</script>

<script>
  function filter() {
    document.getElementById("myDropdown").classList.toggle("show");
  }

  function filterFunction() {
    var input, filter, ul, li, a, i;
    input = document.getElementById("myInput");
    filter = input.value.toUpperCase();
    div = document.getElementById("myDropdown");
    a = div.getElementsByTagName("a");
    for (i = 0; i < a.length; i++) {
      txtValue = a[i].textContent || a[i].innerText;
      if (txtValue.toUpperCase().indexOf(filter) > -1) {
        a[i].style.display = "";
      } else {
        a[i].style.display = "none";
      }
    }
  }
</script>
