
  <h1 class="page-header">{{pageHeader}}</h1>
   <a href="/management/templates/new"><button class="btn btn-primary">New Template</button></a>

  <div class="fixed ">
   {{> table tableColumns=columns tableData=data}}
 </div>


