
<h1 class="page-header">Welcome to the Encoder Dashboard</h1>

<div>
<p>As of today,</p>
<strong><div class="row datedate" id="dashboarddate"></div></strong>
</div>




<div class="row">
	<a  href="/encoder/po"><button class="btn btn-primary dashboard">Create Purchase Orders</button></a>
</div>	


<div class="row">
	<a  href="/encoder/requisition"><button class="btn btn-primary dashboard">Create Requisition Forms</button></a>
</div>	


<div class="row">
	<a  href="/encoder/materials"><button class="btn btn-primary dashboard">Create Material</button></a>
</div>	