 <a href="/encoder/requisition">Return to Requisitions List</a>
 <div class="row">
          <h1 class="viewheader">Project {{item.id}} 
                      {{#if unfulfillable}}
            <span class="badge badge-pill badge-danger">unfulfillable</span>
          {{/if}}
          </h1>
         </div>

          <div class="row">

        </div>
         <div class="rowbody">
          <div class="row">

          <!-- get from db-->
            <p class="viewproject2"><strong>Requisition Date</strong>{{dateCreated}}</p>

            <div class="fixed">
            {{> table tableColumns=columns tableData=data}}
            </div>